doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body   
        div.container
            div.create
                h1 Existing companies
                    a(href="/create-cobj").createbtn Create new company
            .cards 
                each company in data
                    .card 
                        h2.card__name #{company.properties.name}
                        p.card__pot 
                            b POT: 
                            | #{company.properties.pot_number}
                        p.card__cvr 
                            b CVR: 
                            | #{company.properties.cvr_number}

                        a(href=`/open-cobj/${company.id}`)
                            button Edit this company
                        form.removal(action=`/delete-cobj/${company.id}`, method="post")
                            button.delete Delete this company
                            
