doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body   
        div.container
            a(href="/").return ⇦ Return to homepage
            div.edit
                h1.edittitle Edit company
                form(action=`/update-cobj/${data.id}`, method="post")
                    small Company name
                    input(type="text" name="name" placeholder="Insert company name" value=data.properties.name required)
                    br
                    small POT number
                    input(type="text" name="pot" placeholder="Insert POT number" value=data.properties.pot_number required)
                    br
                    small CVR number
                    input(type="text" name="cvr" placeholder="Insert CVR number" value=data.properties.cvr_number required)
                    button Save changes
                form.removal-flexible(action=`/delete-cobj/${data.id}`, method="post")
                    button.delete Delete this company
            